Data preparation

In [ ]:
import pandas as pd
f = pd.read_csv('melb_data_fe.csv')
f.head()

Code body

In [15]:
st = f.pivot_table(values="BuildingArea", index="Type", columns="Rooms", aggfunc="median")
st2 = f[f['Type'] == 'unit'].pivot_table(values="Price", index="SellerG", columns="Type", aggfunc="mean").sort_values('unit')
st

Rooms         1      2      3      4      5      6      7      8      10
Type
house      126.0  126.0  126.0  141.0  177.0  126.0  216.5  126.0  126.0
townhouse   88.0  114.0  126.0  159.5  152.0    NaN    NaN    NaN    NaN
unit        69.5  110.0  126.0  126.0    NaN  171.0    NaN  126.0    NaN